<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
    <title>Cadastro completo</title>
</head>
<body>
    <h3>Seu cadastro está completo</h3>
    <p>Seja muito bem vinda(o), {{nome}}, e aproveite nossos produtos!</p>
</body>
</html>